.main {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, auto));
  grid-gap: 24rem;
  @media (max-width: 562px) {
    grid-template-columns: repeat(2, minmax(auto, auto));
  }
}
.customCheckboxLabel {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  &::before {
    margin-right: 12rem;
    width: 16rem;
    height: 16rem;
    content: '';
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid var(--white);
    border-radius: 100%;
    background-color: var(--black);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}
input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:disabled + .customCheckboxLabel::before {
    opacity: 0.3;
  }
  /* stylelint-disable */
  &:checked + .customCheckboxLabel::before,
  &:focus:enabled + .customCheckboxLabel::before,
  &:hover:enabled + .customCheckboxLabel::before {
    box-shadow: 0 0 8rem var(--white), inset 0 0 8rem var(--white), 0 0 32rem var(--pink), inset 0 0 32rem var(--pink),
      0 0 64rem var(--pink), inset 0 0 64rem var(--pink);
  }
  &.correct + .customCheckboxLabel::before {
    box-shadow: 0 0 8rem var(--white), inset 0 0 8rem var(--white), 0 0 32rem var(--green), inset 0 0 32rem var(--green),
      0 0 64rem var(--green), inset 0 0 64rem var(--green);
    opacity: 1;
  }
  &.wrong + .customCheckboxLabel::before {
    box-shadow: 0 0 8rem var(--white), inset 0 0 8rem var(--white), 0 0 32rem var(--red), inset 0 0 32rem var(--red),
      0 0 64rem var(--red), inset 0 0 64rem var(--red);
    opacity: 1;
  }
  /* stylelint-enable */
}
