.main {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.heart {
  font-size: 32rem;
  @media (max-width: 562px) {
    font-size: 18rem;
  }
  &:not(:last-child) {
    margin-right: 18px;
  }
}
.spentHeart {
  // filter: grayscale(1);
  opacity: 50%;
}
