.linkContainer {
  &:not(:last-child) {
    margin-right: 70rem;
    @media (max-width: 562px) {
      margin-right: 32rem;
    }
  }
}
.link {
  color: inherit;
  text-decoration: inherit;
  opacity: 50%;
  &:hover,
  &:focus {
    opacity: 100%;
    text-shadow: -2rem -2rem 8rem var(--white), 2rem 2rem 8rem var(--white), 0 0 16rem var(--pink),
      0 0 32rem var(--pink), 0 0 48rem var(--pink), 0 0 64rem var(--pink), 0 0 70rem var(--pink);
  }
}

.selectedLink {
  opacity: 100%;
  text-shadow: -2rem -2rem 8rem var(--white), 2rem 2rem 8rem var(--white), 0 0 16rem var(--pink), 0 0 32rem var(--pink),
    0 0 48rem var(--pink), 0 0 64rem var(--pink), 0 0 70rem var(--pink);
}
