.button {
  padding: 24rem 48rem;
  font-family: var(--header-font);
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--black);
  border: 2rem solid var(--white);
  border-radius: 32rem;
  @media (max-width: 562px) {
    padding: 12rem 24rem;
  }
  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 8rem var(--white), inset 0 0 8rem var(--white), 0 0 32rem var(--pink), inset 0 0 32rem var(--pink),
        0 0 64rem var(--pink), inset 0 0 64rem var(--pink);
    }
  }
  @media (hover: none) {
    box-shadow: 0 0 8rem var(--whiteFaded), inset 0 0 8rem var(--whiteFaded), 0 0 16rem var(--pinkFaded),
      inset 0 0 16rem var(--pinkFaded), 0 0 32rem var(--pinkFaded), inset 0 0 32rem var(--pinkFaded);
  }
}
