.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  @media (max-width: 500px) {
    padding-top: 10vh;
  }
}
.expression {
  width: fit-content;
  font-size: clamp(18px, 3vw, 36px);
  user-select: none;
}
.quizItem {
  &:not(:last-child) {
    margin-bottom: clamp(36px, 6vw, 96px);
  }
  @media (max-width: 500px) {
    &:last-child {
      margin-top: 10vh;
    }
  }
}
