.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  @media (max-width: 500px) {
    padding-top: 10vh;
  }
}
.quizItem {
  &:not(:last-child) {
    margin-bottom: clamp(36px, 4vw, 96px);
  }
  @media (max-width: 500px) {
    &:last-child {
      margin-top: 10vh;
    }
  }
}
.operandContainer,
.emptyCellsContainer {
  display: flex;
}
.nonClickableCell {
  &:hover {
    box-shadow: none;
  }
}
.expectedResultContainer {
  font-size: 2.4rem;
}
.expectedResult {
  font-family: var(--header-font);
  color: var(--white);
  text-transform: uppercase;
}
