.main {
  margin-left: 20vw;
  margin-right: 20vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  margin-bottom: clamp(24px, 3vw, 36px);
}
