.main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: clamp(36px, 6vw, 96px);
}
.expression {
  width: fit-content;
  font-size: clamp(18px, 3vw, 36px);
}
