.card {
  padding: 32rem 16rem;
  font-family: var(--header-font);
  background-color: var(--black);
  border: 2rem solid var(--whiteFaded);
  border-radius: 16rem;
  & > pre > code {
    white-space: nowrap !important;
  }
  &.correct,
  &.correct:hover {
    border: 2rem solid var(--white);
    box-shadow: 0 0 8rem var(--white), inset 0 0 8rem var(--white), 0 0 32rem var(--greenFaded),
      inset 0 0 32rem var(--greenFaded), 0 0 64rem var(--greenFaded), inset 0 0 64rem var(--greenFaded);
  }
  &.wrong,
  &.wrong:hover {
    border: 2rem solid var(--white);
    box-shadow: 0 0 8rem var(--white), inset 0 0 8rem var(--white), 0 0 32rem var(--redFaded),
      inset 0 0 32rem var(--redFaded), 0 0 64rem var(--redFaded), inset 0 0 64rem var(--redFaded);
  }
  @media (max-width: 562px) {
    padding: 16rem 8rem;
  }
  @media (hover: hover) {
    &:hover {
      border: 2rem solid var(--white);
      box-shadow: 0 0 8rem var(--white), inset 0 0 8rem var(--white), 0 0 32rem var(--pinkFaded),
        inset 0 0 32rem var(--pinkFaded), 0 0 64rem var(--pinkFaded), inset 0 0 64rem var(--pinkFaded);
    }
  }
}
