.card {
  padding: clamp(24px, 3vw, 48px) clamp(12px, 2vw, 24px);
  font-family: var(--header-font);
  background-color: var(--black);
  border: clamp(1px, 1vw, 3px) solid var(--whiteFaded);
  border-radius: 2rem;
  & > pre > code {
    white-space: nowrap !important;
  }
  @media (hover: hover) {
    &:hover {
      border: clamp(1px, 1vw, 3px) solid var(--white);
      box-shadow: 0 0 0.5rem var(--white), inset 0 0 0.5rem var(--white), 0 0 2rem var(--pinkFaded),
        inset 0 0 2rem var(--pinkFaded), 0 0 4rem var(--pinkFaded), inset 0 0 4rem var(--pinkFaded);
    }
  }
  @media (hover: none) {
    box-shadow: 0 0 0.5rem var(--whiteFaded), inset 0 0 0.5rem var(--whiteFaded), 0 0 1rem var(--pinkFaded),
      inset 0 0 1rem var(--pinkFaded), 0 0 2rem var(--pinkFaded), inset 0 0 2rem var(--pinkFaded);
  }
}
