.main {
  padding: 32rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 562px) {
    padding: 24rem;
  }
}
.icon {
  width: 32rem;
  height: 32rem;
  @media (max-width: 562px) {
    width: 24rem;
    height: 24rem;
  }

  min-width: 12px;
  &:hover {
    -webkit-filter: drop-shadow(0 0 8rem var(--pink));
    filter: drop-shadow(0 0 8rem var(--pink));
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 48rem;
}
