.main {
  padding: clamp(24px, 3vw, 36px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: clamp(12px, 2vw, 24px);
  height: clamp(12px, 2vw, 24px);
  min-width: 12px;
  &:hover {
    -webkit-filter: drop-shadow(0 0 0.5rem var(--pink));
    filter: drop-shadow(0 0 0.5rem var(--pink));
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: clamp(24px, 3vw, 36px);
}
