.main {
  padding: clamp(24px, 3vw, 36px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: clamp(24px, 4vw, 48px);
  height: clamp(24px, 4vw, 48px);
  min-width: 24px;
  margin-right: clamp(24px, 3vw, 36px);
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selectedLink {
  opacity: 100%;
  & > * {
    text-shadow: -0.1rem -0.1rem 0.5rem var(--white), 0.1rem 0.1rem 0.5rem var(--white), 0 0 1rem var(--pink),
      0 0 2rem var(--pink), 0 0 3rem var(--pink), 0 0 4rem var(--pink), 0 0 5rem var(--pink);
  }
}
.link {
  color: inherit;
  text-decoration: inherit;
  opacity: 50%;
  &:hover,
  &:focus {
    opacity: 100%;
    & > * {
      text-shadow: -0.1rem -0.1rem 0.5rem var(--white), 0.1rem 0.1rem 0.5rem var(--white), 0 0 1rem var(--pink),
        0 0 2rem var(--pink), 0 0 3rem var(--pink), 0 0 4rem var(--pink), 0 0 5rem var(--pink);
    }
  }
  &:not(:last-child) {
    margin-right: clamp(36px, 5vw, 76px);
  }
}
