@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400&display=swap');

html {
  --black: #333;
  --white: #e4e4e4;
  --whiteFaded: #e4e4e488;
  --pink: #ff46a2;
  --pinkFaded: #ff46a288;
  --red: #f03;
  --redFaded: #f038;
  --green: #4cbb17;
  --greenFaded: #4cbb1788;
  --text-color: var(--white);
  --background-color: var(--black);
  --simple-text-font: 'Cutive Mono', monospace;
  --header-font: 'Exo 2', sans-serif;
}
