@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Tourney:wght@300&display=swap');

html {
  --text-color: #333;
  --simple-text-font: 'Cutive Mono', monospace;
  --header-font: 'Tourney', cursive;
}
