.main {
  padding: clamp(24px, 3vw, 36px);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: clamp(8px, 2vw, 16px);
}
.link {
  color: inherit;
  text-decoration: inherit;
  opacity: 50%;
  &:hover,
  &:focus {
    opacity: 100%;
    & > * {
      text-shadow: 0 0 2rem var(--pink);
    }
  }
}
