.main {
  padding: 32rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16rem;
  line-height: 1.4;

  @media (max-width: 562px) {
    padding: 24rem;
    font-size: 8rem;
  }
}
.linksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link {
  color: inherit;
  text-decoration: inherit;
  opacity: 50%;
  &:hover,
  &:focus {
    opacity: 100%;
    & > * {
      text-shadow: -2rem -2rem 8rem var(--white), 2rem 2rem 8rem var(--white), 0 0 16rem var(--pink),
        0 0 32rem var(--pink), 0 0 48rem var(--pink), 0 0 64rem var(--pink), 0 0 70rem var(--pink);
    }
  }
}
.githubLogo {
  width: 16rem;
  height: 16rem;
  fill: var(--pinkFaded);
}
