.tooltipContainer {
  height: 24rem;
  position: relative;
}

.tooltipBox {
  width: max-content;
  max-width: 50vw;
  padding: 12rem;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  border-radius: 12rem;
  background: var(--white);
  color: var(--black);
  font-size: 16rem;
  display: none;
  z-index: 2;
  &.visible {
    display: block;
  }
}
.childrenContainer {
  height: 24rem;
}
