.tooltipContainer {
  position: relative;
}

.tooltipBox {
  width: max-content;
  max-width: 50vw;
  padding: clamp(8px, 2vw, 16px);
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  border-radius: clamp(8px, 2vw, 16px);
  background: var(--white);
  color: var(--black);
  font-size: clamp(8px, 2vw, 16px);
  display: none;
  z-index: 2;
  &.visible {
    display: block;
  }
}
